.self-assessment{
    padding:5% 10px;
    display: flex;
}
.self-title{
    flex:0.7;
    padding-left: 10%;
   color: rgb(49, 154, 196);
    justify-content: center;
}
.right-content{
    display: flex;
    flex: 1; 
    min-height: 500px;
   padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid red;  */
    
}
.terms-n-conditions{
  
  color:gray;
 
  text-align: justify;
  padding:5px;
    height: 400px;
    overflow:auto;

}
.submit-buttons{

}

